* {
    margin: 0;
}

html,
body {
    height: 100%;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

header,
footer {
    padding: 2% 1%;
}

header,
footer {
    flex-shrink: 0;
    background: rgb(153, 0, 255);
    color: rgb(249, 199, 79);
    font-weight: bold;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    h1 {
        text-wrap: nowrap;
        font-size: 1.5rem;
    }

    nav {
        flex-grow: 1;

        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: end;
            gap: 0.5rem;
            list-style: none;

            li {
                padding: 1% 2%;
                border: 2px solid rgb(249, 199, 79);
                border-radius: 16px;

                a {
                    color: rgb(249, 199, 79);
                    text-decoration: none;
                }
            }

        }
    }
}

main {
    padding: 2% 10%;
    flex: 1;
    overflow-y: auto;
    background: rgb(2, 245, 225);
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

section {
    padding: 5% 10%;
    border: 2px solid rgb(249, 65, 68);
    border-radius: 16px;
}

.button {
    margin: auto 0%;
    padding: 1% 2%;
    background: rgb(243, 114, 44);
    border: 2px solid rgb(249, 65, 68);
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
}

ol {
    display: flex;
    flex-flow: column nowrap;
}

.doneDo {
    text-decoration: line-through;
}

h3 {
    border-bottom: 2px solid rgb(255, 255, 255);
}